
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formulario</title>
    <link rel="stylesheet" href="/app/app.component.css">

</head>
<body>
    <div class = "container">
        <div class="form-content">
            <h1 id="title">Registro</h1>
            <form>
                <div class="input-group">
                    <div class="input-field" id="nameInput">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" placeholder="nombre">
                    </div>
                    <div class="input-field">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" placeholder="correo">
                    </div>
                    <div class="input-field">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" placeholder="contraseña">
                    </div>
    
                    <p>Olvidaste tu contraseña <a href="a"> click aqui </a></p>
                    <div class="btn-field">
                        <button id="signUp" type="button">registro</button>
                        <button id="signIn" type="button" class="disable">log in</button>
                    </div>

                </div>
            
            </form>
        </div>
    </div>


    <script src="/js/script.js"></script>
</body>
</html>